@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="column1">
<p>Dapper Dawg opened its doors in 2015. </p>
<p>We know that your pets are more than just animals, they are family!  We want to be your #1 resource for ALL your pets' needs.</p>
    </div>