@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="column1">
    <address>
        526 South Main Street<br/>
        Akron, OH 44311 <br/>
        <abbr title="Phone">Phone:</abbr>
        425.555.0100
    </address>
</div>
<div class="column2">
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@dapperdawg.com</a><br/>
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@dapperdawg.com</a>
</address>
</div>