@model DapperDawgModels.StaticPage

@{
ViewBag.Title = "DisplayStaticPage";
}

<h2 style="text-align: center">@Model.StaticPageTitle</h2>

<div class="col-sm-3">
    <div id="staticpage">

    @Html.Raw(Model.StaticPageContent)<br/>
        <p>@Model.StaticPageDate.ToShortDateString()</p>
        </div>
</div>