@model DapperDog.Models.AddBlogPostViewModel

@{
    ViewBag.Title = "AddBlogPost";
}

<h2>Add Blog Post</h2>

<form class="form-horizontal" action="@Url.Action("AddBlogPost")" method="POST">
    <fieldset>
        <div class="inputboxes">
            <label for="AddBlogPostTitle">Title</label>
            <input name="PostTitle" id="AddBlogPostTitle" type="text" />
        </div>
        <div class="inputboxes">
            <label for="AddBlogPostAuthor">Author</label>
            <input name="Author" id="AddBlogPostAuthor" type="text" />
        </div>
        <div class="dropdown">
            <label>Category</label>
            <div>
                @Html.DropDownList("CategoryID", Model.Categories, "(select)", new { @class = "form-control input-sm", @id = "inputCategoryID", @name = "Categories" })
            </div>
        </div>
        <div class="form-group" id="blog">
            <textarea id="TinyMCEBox" name="PostContent"></textarea>
        </div>
        <div>
            <label for="myTags">Tags</label>
            <ul id="myTags" name="TagsToAdd"></ul>
        </div>
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>

@section scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/app/tinyMCEBox.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/tag-it.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css">
    <link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/app/tag-It.js"></script>
}