@model DapperDog.Models.AddBlogPostViewModel

@{
    ViewBag.Title = "AddBlogPost";
}

<h2>Add Blog Post</h2>

<form class="form-horizontal" action="@Url.Action("AddBlogPost")" method="POST" id="addBlogPostForm">
    <fieldset>
        <div class="inputboxes">
            <label for="AddBlogPostTitle">Title:</label>
            <input name="PostTitle" id="AddBlogPostTitle" type="text"/>
        </div>
        <input class="hidden" name="Author" value="@User.Identity.Name"/>
            <div class="inputboxes">
            <label for="PublishDate">Publish Date:</label>
            <input id="PublishDate" type="text" name="PublishDate"/>
       </div>
        <div class="inputboxes">
            <label for="ExpirationDate">Expiration Date:</label>
            <input id="ExpirationDate" type="text" name="ExpirationDate"/>
        </div>
        <div class="inputboxes">
            
                <label>Category:</label>
            <div>
                <select name="CategoryID" class="form-control input-sm" id="inputCategoryID" onselect="isSpecial()" >
                </select>
            </div>
            </div>
                <div class="inputboxes">
                    <button class="btn btn-primary" type="button" id="btnShowAddCategoryInput">Add Category</button>
                    <div id="addCategoryInputDiv" style="display: none;">
                        <input id="addCategoryInput" type="text"/>
                        <button id="btnSaveNewCategory" type="button">Add</button>
                        <button id="btnHideAddCategoryDiv" type="button">Cancel</button>
                    </div>
                </div>
           
        
            <div class="radiobutton">
                <label for="Special">Current Special:</label>
                <input id="Special" type="radio" name="special"/>Is Current Special
                <input id="Special" type="radio" name="special" checked/>Is Not Current Special
            </div>
            
               
  
       <div class="form-group" id="blog">
            <textarea id="TinyMCEBox" name="PostContent"></textarea>
        </div>
        <div>
            <label for="myTags">Tags</label>
            <ul id="myTags" name="TagsToAdd"></ul>
        </div>
        <div>
            @Html.ActionLink("Cancel", "Index", "Home", null, new {@class = "btn btn-primary"})
            <button id ="submitbutton" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>

@section scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/app/tinyMCEBox.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/tag-it.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css">
    <link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/app/tag-It.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/postValidation.js"></script>
    <script src="~/Scripts/app/manageCategories.js"></script>
    <script src="~/Scripts/app/datePicker.js"></script>
    <script src ="~/Scripts/app/setSpecial.js"></script>
}