
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <h2>Administrative Duties</h2>

        @Html.ActionLink("Add New Post", "AddBlogPost", "/Blogs/AddBlogPost", new {@class="btn btn-primary"})
        <br/>
        @Html.ActionLink("Add New Static Page", "AddStaticPages", "/Blogs/AddStaticPages", new {@class="btn btn-primary"})
        <br/>

    </div>
</div>


