<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Setup" connectionString="Server=MS-STDN-012\SQL2014;User=sa;Password=sqlserver;Database=master;"/>
    <add name="PetShopBlog" connectionString="Server=MS-STDN-012\SQL2014;User Id=sa;Password=sqlserver;Database=TestPetShopBlog;" />
  </connectionStrings>
</configuration>