USE [PetShopBlog]
GO
/****** Object:  StoredProcedure [dbo].[UpdateStaticPage]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdateStaticPage]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePublishDate]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdatePublishDate]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePostTitle]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdatePostTitle]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePostDate]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdatePostDate]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePostContent]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdatePostContent]
GO
/****** Object:  StoredProcedure [dbo].[UpdatePostAuthor]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdatePostAuthor]
GO
/****** Object:  StoredProcedure [dbo].[UpdateIsStickyPost]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdateIsStickyPost]
GO
/****** Object:  StoredProcedure [dbo].[UpdateExpirationDate]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdateExpirationDate]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCategoryID]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[UpdateCategoryID]
GO
/****** Object:  StoredProcedure [dbo].[SetPostStatusTo2]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[SetPostStatusTo2]
GO
/****** Object:  StoredProcedure [dbo].[SetPostStatusTo1]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[SetPostStatusTo1]
GO
/****** Object:  StoredProcedure [dbo].[RemovePostFromPostTagsTable]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[RemovePostFromPostTagsTable]
GO
/****** Object:  StoredProcedure [dbo].[GetUserCommentsByPostID]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetUserCommentsByPostID]
GO
/****** Object:  StoredProcedure [dbo].[GetStaticPageByID]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetStaticPageByID]
GO
/****** Object:  StoredProcedure [dbo].[GetPostsByTag]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetPostsByTag]
GO
/****** Object:  StoredProcedure [dbo].[GetPostsByPR]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetPostsByPR]
GO
/****** Object:  StoredProcedure [dbo].[GetPostsByCategory]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetPostsByCategory]
GO
/****** Object:  StoredProcedure [dbo].[GetPostByID]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetPostByID]
GO
/****** Object:  StoredProcedure [dbo].[GetPostbyDate]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetPostbyDate]
GO
/****** Object:  StoredProcedure [dbo].[GetDeletedPosts]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetDeletedPosts]
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryByPostID]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetCategoryByPostID]
GO
/****** Object:  StoredProcedure [dbo].[GetAllTagsOnAPostByPostID]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetAllTagsOnAPostByPostID]
GO
/****** Object:  StoredProcedure [dbo].[GetAllTags]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetAllTags]
GO
/****** Object:  StoredProcedure [dbo].[GetAllStaticPages]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetAllStaticPages]
GO
/****** Object:  StoredProcedure [dbo].[GetAllPostsOrderedByDate]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[GetAllPostsOrderedByDate]
GO
/****** Object:  StoredProcedure [dbo].[AddNewUserComment]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[AddNewUserComment]
GO
/****** Object:  StoredProcedure [dbo].[AddNewTag]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[AddNewTag]
GO
/****** Object:  StoredProcedure [dbo].[AddNewStaticPage]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[AddNewStaticPage]
GO
/****** Object:  StoredProcedure [dbo].[AddNewPostTags]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[AddNewPostTags]
GO
/****** Object:  StoredProcedure [dbo].[AddNewPost]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[AddNewPost]
GO
/****** Object:  StoredProcedure [dbo].[AddNewCategory]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP PROCEDURE [dbo].[AddNewCategory]
GO
ALTER TABLE [dbo].[UserComments] DROP CONSTRAINT [FK__UserComme__PostI__15502E78]
GO
ALTER TABLE [dbo].[PostsTags] DROP CONSTRAINT [FK__PostsTags__TagID__1CF15040]
GO
ALTER TABLE [dbo].[PostsTags] DROP CONSTRAINT [FK__PostsTags__PostI__1BFD2C07]
GO
ALTER TABLE [dbo].[Posts] DROP CONSTRAINT [FK__Posts__CategoryI__1273C1CD]
GO
/****** Object:  Table [dbo].[UserComments]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP TABLE [dbo].[UserComments]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP TABLE [dbo].[Tags]
GO
/****** Object:  Table [dbo].[StaticPages]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP TABLE [dbo].[StaticPages]
GO
/****** Object:  Table [dbo].[PostsTags]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP TABLE [dbo].[PostsTags]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP TABLE [dbo].[Posts]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP TABLE [dbo].[Categories]
GO
USE [master]
GO
/****** Object:  Database [PetShopBlog]    Script Date: 12/10/2015 2:08:23 PM ******/
DROP DATABASE [PetShopBlog]
GO
/****** Object:  Database [PetShopBlog]    Script Date: 12/10/2015 2:08:23 PM ******/
CREATE DATABASE [PetShopBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShopBlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\PetShopBlog.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PetShopBlog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\PetShopBlog_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetShopBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetShopBlog]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PostTitle] [nvarchar](100) NULL,
	[PostDate] [date] NULL,
	[PostContent] [text] NULL,
	[Author] [nvarchar](50) NULL,
	[PostStatus] [int] NULL,
	[IsStickyPost] [bit] NULL,
	[PublishDate] [date] NULL,
	[ExpirationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostsTags]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsTags](
	[PostID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [pk_PostsTags] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaticPages]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticPages](
	[StaticPageID] [int] IDENTITY(1,1) NOT NULL,
	[StaticPageDate] [date] NULL,
	[StaticPageTitle] [nvarchar](50) NULL,
	[StaticPageContent] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaticPageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserComments]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserComments](
	[UserCommentID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[UserCommentUserName] [nvarchar](50) NULL,
	[UserCommentContent] [text] NULL,
	[UserCommentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserCommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Pet Health')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Pet Wellness')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Pet Products')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostID], [CategoryID], [PostTitle], [PostDate], [PostContent], [Author], [PostStatus], [IsStickyPost], [PublishDate], [ExpirationDate]) VALUES (3, 3, N'SampleTitle3', CAST(N'2015-11-20' AS Date), N'<h2>Lorem</h2><p>Ipsum dolor sit amet finch kitten leash vaccination.</p>', N'Author', 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Posts] OFF
INSERT [dbo].[PostsTags] ([PostID], [TagID]) VALUES (1, 1)
INSERT [dbo].[PostsTags] ([PostID], [TagID]) VALUES (1, 4)
INSERT [dbo].[PostsTags] ([PostID], [TagID]) VALUES (1, 5)
SET IDENTITY_INSERT [dbo].[StaticPages] ON 

INSERT [dbo].[StaticPages] ([StaticPageID], [StaticPageDate], [StaticPageTitle], [StaticPageContent]) VALUES (1, CAST(N'2015-12-01' AS Date), N'About Us', N'<p>Dapper Dawg opened its doors in 2013. In 2015 we extended our products to include cats, reptiles amd other small pets.  We know that your pets are more than just animals, they are family!</p><p>We want to be your #1 resource for ALL your pets'' needs.</p> <p style="text-align: center;"><img src="http://weknowyourdreams.com/images/dog/dog-07.jpg" alt="" width="400" height="437"></p>')
INSERT [dbo].[StaticPages] ([StaticPageID], [StaticPageDate], [StaticPageTitle], [StaticPageContent]) VALUES (2, CAST(N'2015-12-01' AS Date), N'Contact Us', N'<address>526 South Main Street<br/>Akron, OH 44311 <br/><abbr title="Phone">Phone:</abbr>425.555.0100</address><address><strong>Support:</strong> <a id="email" href="mailto:Support@example.com">Support@dapperdawg.com</a><br/><strong>Marketing:</strong> <a id="email" href="mailto:Marketing@example.com">Marketing@dapperdawg.com</a></address>')
INSERT [dbo].[StaticPages] ([StaticPageID], [StaticPageDate], [StaticPageTitle], [StaticPageContent]) VALUES (3, CAST(N'2015-12-10' AS Date), N'New Static Page', N'<p>vfsdvsvssvvs</p>')
SET IDENTITY_INSERT [dbo].[StaticPages] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagID], [TagName]) VALUES (1, N'dogs')
INSERT [dbo].[Tags] ([TagID], [TagName]) VALUES (2, N'cats')
INSERT [dbo].[Tags] ([TagID], [TagName]) VALUES (3, N'ferrets')
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[UserComments] ON 

INSERT [dbo].[UserComments] ([UserCommentID], [PostID], [UserCommentUserName], [UserCommentContent], [UserCommentDate]) VALUES (1, 9, N'bbf', N'Comment', CAST(N'2015-12-10' AS Date))
INSERT [dbo].[UserComments] ([UserCommentID], [PostID], [UserCommentUserName], [UserCommentContent], [UserCommentDate]) VALUES (2, 10, NULL, N'cccccc', CAST(N'2015-12-10' AS Date))
SET IDENTITY_INSERT [dbo].[UserComments] OFF
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[PostsTags]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[PostsTags]  WITH CHECK ADD FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([TagID])
GO
ALTER TABLE [dbo].[UserComments]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
/****** Object:  StoredProcedure [dbo].[AddNewCategory]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddNewCategory] (@categoryName nvarchar(50))
as
begin
insert into Categories
values (@categoryName)
end


GO
/****** Object:  StoredProcedure [dbo].[AddNewPost]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddNewPost](
	@CategoryID int,
	@PostTitle nvarchar(100),
	@PostDate date,
	@PostContent text,
	@Author nvarchar(50),
	@PostStatus int,
	@PostID int output,
	@IsStickyPost bit,
	@PublishDate date,
	@ExpirationDate date
	)
	as
begin
	insert into Posts (CategoryID, PostTitle, PostDate, PostContent, Author, PostStatus, IsStickyPost, PublishDate, ExpirationDate)
	values (@CategoryID, @PostTitle, @PostDate, @PostContent, @Author, @PostStatus, @IsStickyPost, @PublishDate, @ExpirationDate)
set @PostID = SCOPE_IDENTITY()
end


GO
/****** Object:  StoredProcedure [dbo].[AddNewPostTags]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddNewPostTags] (@TagId int, @PostId int)
as
begin
insert into PostsTags (PostID, TagID)
values (@postid, @tagid)
end


GO
/****** Object:  StoredProcedure [dbo].[AddNewStaticPage]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddNewStaticPage](
@StaticPageID int output,
@StaticPageDate date,
@StaticPageTitle nvarchar(50),
@StaticPageContent text
)
as
begin
insert into StaticPages (StaticPageDate, StaticPageTitle, StaticPageContent)
values(@StaticPageDate, @StaticPageTitle, @StaticPageContent)

set @StaticPageID = SCOPE_IDENTITY();

end


GO
/****** Object:  StoredProcedure [dbo].[AddNewTag]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddNewTag]( 
@TagName nvarchar(50),
@TagID int output
)
as
begin
insert into Tags (TagName)
values (@TagName)

set @TagID = SCOPE_IDENTITY();
end


GO
/****** Object:  StoredProcedure [dbo].[AddNewUserComment]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[AddNewUserComment]
(@PostID int, @UserCommentUserName nvarchar(50), @UserCommentContent text, @UserCommentDate date, @UserCommentID int output)
as
begin
insert into UserComments (PostID, UserCommentUserName, UserCommentContent, UserCommentDate)
values (@PostID, @UserCommentUserName, @UserCommentContent, @UserCommentDate)

set @UserCommentID = SCOPE_IDENTITY()
end


GO
/****** Object:  StoredProcedure [dbo].[GetAllPostsOrderedByDate]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetAllPostsOrderedByDate] 
as
begin
select *
from Posts
where PostStatus = 1
order by IsStickyPost desc, PostDate desc, PostID desc
end


GO
/****** Object:  StoredProcedure [dbo].[GetAllStaticPages]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetAllStaticPages]
as
begin
select * from StaticPages
end


GO
/****** Object:  StoredProcedure [dbo].[GetAllTags]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetAllTags] 
as
begin
select *
from Tags
end


GO
/****** Object:  StoredProcedure [dbo].[GetAllTagsOnAPostByPostID]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetAllTagsOnAPostByPostID] (@postId int)
as
begin
select t.TagID, t.TagName
from Tags t
	inner join PostsTags pt on t.TagID = pt.TagID
where pt.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[GetCategoryByPostID]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetCategoryByPostID] (@postId int)
as
begin
select c.CategoryName from Categories c
	inner join Posts p on p.CategoryID = c.CategoryID
where p.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[GetDeletedPosts]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetDeletedPosts] 
as
begin
select * from Posts
Where PostStatus = 2
end


GO
/****** Object:  StoredProcedure [dbo].[GetPostbyDate]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetPostbyDate] (@postdate date)
as
begin
select *
from Posts where posts.PostDate = @postdate and posts.PostStatus = 1
end


GO
/****** Object:  StoredProcedure [dbo].[GetPostByID]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetPostByID] (@postId int)
as
begin
select * from Posts p
where p.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[GetPostsByCategory]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetPostsByCategory] (@categoryID int)
as
begin
select *
from posts p where p.CategoryID = @categoryID and p.PostStatus = 1
order by p.PostDate desc, p.PostID desc 
end


GO
/****** Object:  StoredProcedure [dbo].[GetPostsByPR]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetPostsByPR]
as
begin
select * from posts
where PostStatus = 0
end


GO
/****** Object:  StoredProcedure [dbo].[GetPostsByTag]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetPostsByTag] (@tagId int)
as
begin
select *
from Posts p
	inner join PostsTags pt on pt.PostID = p.PostID
	inner join tags t on pt.TagID = t.TagID
where p.PostStatus = 1 and t.TagID = @tagId
order by p.PostDate desc, p.PostID desc
end


GO
/****** Object:  StoredProcedure [dbo].[GetStaticPageByID]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetStaticPageByID] (@StaticPageID int)
as
begin
select * from StaticPages where StaticPageID = @StaticPageID
end


GO
/****** Object:  StoredProcedure [dbo].[GetUserCommentsByPostID]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetUserCommentsByPostID] (@PostID int)
as
begin
select * from UserComments
where PostID = @PostID
order by UserCommentDate desc
end


GO
/****** Object:  StoredProcedure [dbo].[RemovePostFromPostTagsTable]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[RemovePostFromPostTagsTable] (@postId int)
as
begin
delete from PostsTags
where PostsTags.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[SetPostStatusTo1]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SetPostStatusTo1] (@postId int)
as
begin
update posts
set posts.PostStatus = 1
where posts.PostID = @postid
end


GO
/****** Object:  StoredProcedure [dbo].[SetPostStatusTo2]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SetPostStatusTo2] (@postId int)
as
begin
update posts
set posts.PostStatus = 2
where posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateCategoryID]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateCategoryID] (@postId int, @newCategoryId int)
as
begin
update Posts
set Posts.CategoryID = @newCategoryId
where Posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateExpirationDate]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateExpirationDate] (@postId int, @newExpirationDate date)
as
begin
update Posts
set Posts.ExpirationDate = @newExpirationDate
where Posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateIsStickyPost]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateIsStickyPost] (@postId int, @newIsStickyPost bit)
as
begin
update Posts
set Posts.IsStickyPost = @newIsStickyPost
where posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdatePostAuthor]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdatePostAuthor] (@postId int, @newAuthor nvarchar(50))
as
begin
update Posts
set Posts.Author = @newAuthor
where Posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdatePostContent]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdatePostContent] (@postId int, @newPostContent text)
as
begin
update Posts
set Posts.PostContent = @newPostContent
where Posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdatePostDate]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdatePostDate] (@postId int, @newPostDate date)
as
begin
update Posts
set Posts.PostDate = @newPostDate
where Posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdatePostTitle]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdatePostTitle] (@postId int, @newPostTitle nvarchar(100))
as
begin
update Posts
set Posts.PostTitle = @newPostTitle
where Posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdatePublishDate]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdatePublishDate] (@postId int, @newPublishDate date)
as
begin
update Posts
set Posts.PublishDate = @newPublishDate
where Posts.PostID = @postId
end


GO
/****** Object:  StoredProcedure [dbo].[UpdateStaticPage]    Script Date: 12/10/2015 2:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateStaticPage] (@StaticPageId int, @newStaticPageTitle nvarchar(50), @newStaticPageContent text)
as
begin
update StaticPages
set StaticPageTitle = @newStaticPageTitle, StaticPageContent = @newStaticPageContent
where StaticPages.StaticPageID = @StaticPageId
end


GO
USE [master]
GO
