
@using DapperDawgData
  

@{
    var repo = new BlogPostRepository();
    var staticPages = repo.GetAllStaticPages();
    foreach (var page in staticPages)
    {
        <ul class="nav navbar-nav navbar">
            <li>@Html.ActionLink(page.StaticPageTitle, "DisplayStaticPage", "Home", routeValues: new {Id = page.StaticPageID}, htmlAttributes: new { id = "staticPageLink" })</li>
        </ul>
    }
}