body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(221, 209, 230);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image: url('Images/pawprint2.png');
    /*background-repeat: no-repeat;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.column1, .column2 {
    width: 300px;
    float: left;
    margin: 10px;
}

.column1 {
    width: 600px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 20%;
    column-count: 3;
    column-span: all;
   
}
.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #000099;
}

.categories, .StaticPages {
    padding: 10px;
    padding-bottom: 30px;
    font-size: 1.5em;
    background-color: rgb(170,161,177);
    border-style: groove;
    border-width: 10px;
    border-color: rgb(15, 26, 103);
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.alink {
    color:#000099
}

.main h3, .staticpagetitle {
    text-align: center;
    padding: 10px;
}

.dropdown {
    padding: 10px;
}

.inputboxes {
    padding: 10px;
    clear: both;
}

.inputboxes label {
    float: left;
    width: 150px;
}

.inputboxes input {
    float: left;
}
#btnShowAddCategoryInput {
    clear: both;
    padding: 10px;
    margin-left: 150px;
}

#addCategoryInputDiv {
    margin-left: 150px;
    padding: 10px;
}

.line {
    font-weight: bold;
    padding:50px;
    text-align: center;
}

#category, #date, #author {
    padding: 10px;
}

.tags {
    font-style: italic;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.tags a {
    color: #000099;
}

.blogtitle, .categorytitle {
    text-align: center;
    padding-top: 10px;
    color: #000099;
}

.categorytitle {
    font-weight: bold;
}

#footer {
    clear: both;
}

#blog, #StaticPageContent, #staticpage {
    background-color: rgb(170,161,177);
    border-style: groove;
    border-width: 10px;
    border-color: rgb(15, 26, 103);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    overflow-y: auto;
}

#button {
    margin-top: 20px;
}

#staticpage {
    width: 1000px;
    background-color: rgb(170,161,177);
    border-style: groove;
    border-width: 10px;
    border-color: rgb(15, 26, 103);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    float: left;
    clear: both;
}

.radiobutton #special {
    font-style: inherit;
    padding: 10px;
}

.radiobutton input {
    padding: 20px;
}

#toseemore {
    /*color: yellow;*/
    font-style: oblique;
}

.help-block {
    color: red;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.ConfirmDelete {
    float: right;
    position: relative;
}

.btnShowConfirmDelete {
    float: right;
}

h2:first-of-type {
    font-family: Pacifico;
}

.navbar-nav > .open {
    background-color: #000099;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #999999;
    background-color: #000099;
}

.dropdown-menu > li > a:hover {
    color: #999999;
    text-decoration: none;
    background-color: #000099;
}

.dropdown-menu {
    background-color:  #000099;
}
.more:hover, .less:hover {
    background-color: #000099;
    cursor: pointer;
}

.btnConfirmDelete {
    float: right;
}

.ellipsis>h2 {
    font-family: Arial;
}

#PageButtons {
    text-align: center;
}

.btnPageButton {
    display: inline-block;
}

#commenttextarea {
    height: 200px;
    width: 300px;
}

#commentbutton {
    margin-bottom: 10px;
}

#comments {
    border: 2px solid rgb(15, 26, 103);  
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
}
#viewcommentslink {
    margin: 10px;
}

#commentauthor {
    font-weight: bold;
    font-size: 20px;
}