body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(221, 209, 230);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image: url('Images/pawprint2.png');
    /*background-repeat: no-repeat;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.column1, .column2 {
    width: 300px;
    float: left;
    margin: 10px;
}

.column1 {
    width: 500px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 20%;
    column-count: 3;
    column-span: all;
   
}
.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #000099;
}

.categories {
    padding: 10px;
    padding-bottom: 30px;
    font-size: 2.0em;
    background-color: rgb(170,161,177);
    border-style: groove;
    border-width: 10px;
    border-color: rgb(15, 26, 103);
    border-radius: 15px;
}

.alink {
    color:#000099
}

.main h3 {
    text-align: center;
    padding: 10px;
}

.dropdown {
    padding: 10px;
}

.inputboxes {
    padding: 10px;
}

.line {
    font-weight: bold;
    padding:50px;
    text-align: center;
}

#category {
    padding: 10px;
}

.tags {
    font-style: italic;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

.blogtitle {
    text-align: center;
    padding-top: 45px;
}

#footer {
    clear: both;
}

#blog, #StaticPageContent {
    background-color: rgb(170,161,177);
    border-style: groove;
    border-width: 10px;
    border-color: rgb(15, 26, 103);
    border-radius: 15px;
    padding: 15px;
<<<<<<< HEAD
}

=======
    margin-bottom: 25px;
}
>>>>>>> 6c7e55453b7d1c5b0051576c08bc2c22ae6df6e3
